@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@import "flowbite/dist/flowbite.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: light blue;
  --color-text-color: black;
  --text-28: 1.75rem;
  --gap-my: 60px;
}

html {
  font-family: "Golos Text", sans-serif;
}

.buttons__all {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu__button {
  display: flex;
}

.logo {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon__container {
  display: flex;
  justify-content: right;
  gap: 30px;

}

.menu__Butt {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 13px;
}



/*-------каталог----*/
.catalog__card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog__card {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1;
  object-fit: cover;
}

.price__card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 11px;
  line-height: 14px;
  padding-bottom: 15px;

}

.text-black {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-family: FavoritPro, sans-serif;
  padding-top: 5px;

}

.salavat_irnby {
  width: 103px;
  height: 15px;
  margin-top: 10px;


}



.new {
  font-size: 12px;
  color: rgb(41, 126, 255);
  margin-top: 10px;
}

.buy__card {
  font-size: 12px;
}

/*---forms------*/
.form__item input {
  border: darkorchid 1px solid;
  background-color: rgb(220, 220, 255);
  color: black;
  padding: 10px;
  transition: 0.3s;
}

.form__item input:focus {
  outline: none;
  outline-offset: 5px;

}

.form__item input:disabled:hover,
.form__item input:disabled:focus {
  outline: none;
  box-shadow: none;
}

/*.form__item input[type=submit]{
background-color: rgb(0, 0, 0);
color: white;*/

.form__item input[type=text]:valid {
  border-color: rgb(50, 132, 255);
  background-color: rgb(255, 203, 246);
}

.form__item input[type=text]:invalid {
  border-color: #ffe5e8;
  background-color: #ffe5e8;
}

.form__item input[type=text]:invalid::after {
  appearance: auto;
  accent-color: purple;
  width: 20px;
}

.color-checkbox {
  display: none;
}

.color-label {
  display: block;
  width: 25px;
  height: 25px;
  border: black 1px solid;
  border-radius: 2px;
  transition: 0.3;
}

.color-checkbox:checked+.color-label {
  outline: gray 2px solid;
  outline-offset: 3px;
}

.filter-color {
  display: flex;
  flex-direction: column;
  gap: 10px;
}