@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@import "flowbite/dist/flowbite.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-main-color: light blue;
    --color-text-color: black;
    --text-28: 1.75rem;
    --gap-my: 60px;
}

html {
    font-family: "Golos Text", sans-serif;
}

.buttons__all {
    padding-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu__button {
    display: flex;
}

.logo {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icon__container {
    display: flex;
    justify-content: right;
    gap: 30px;

}

details {
    border-bottom: 1px solid #e5e7eb;
}

summary {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::-webkit-details-marker {
    display: none;

}

.arrow-icon {
    transition: transform 0.3s ease;
}

.arrow-icon {
    transform: rotate(90deg);
}

.menu__Butt {
    display: flex;
    width: 100%;
    gap: 20px;
    font-size: 13px;
}

.underline-anim {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline-anim::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 0;
    height: 1px;
    background: #666;
    transition: width 0.3s ease;
}

.underline-anim:hover::after {
    width: 100%;
}