@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@import "flowbite/dist/flowbite.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: light blue;
  --color-text-color: black;
  --text-28: 1.75rem;
  --gap-my: 60px;
}

html {
  font-family: "Golos Text", sans-serif;
}

.buttons__all {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu__button {
  display: flex;
}

.logo {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon__container {
  display: flex;
  justify-content: right;
  gap: 30px;

}

.menu__Butt {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 13px;
}



/*-------каталог----*/
.catalog__card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog__card {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1;
  object-fit: cover;
}

.price__card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 11px;
  line-height: 14px;
  padding-bottom: 15px;

}

.text-black {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-family: FavoritPro, sans-serif;
  padding-top: 5px;

}

.salavat_irnby {
  width: 103px;
  height: 15px;
  margin-top: 10px;


}



.new {
  font-size: 12px;
  color: rgb(41, 126, 255);
  margin-top: 10px;
}

.buy__card {
  font-size: 12px;
}




/*--------------*/
.filters {
  width: 318px;
  font-family: FavoritPro, sans-serif;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-group {
  margin-bottom: 24px;
}

.filter-group h4 {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.filter-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  cursor: pointer;
}

.price {
  display: flex;
  gap: 8px;
}

.price input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ccc;
}
