@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: light blue;
  --color-text-color: black;
  --text-28: 1.75rem;
  --gap-my: 60px;
}

html {
  font-family: "Golos Text", sans-serif;
}

/*-------каталог----*/
.catalog__card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog__card {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1;
  object-fit: cover;
}

.price__card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 11px;
  line-height: 14px;
  padding-bottom: 15px;

}

.text-black {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-family: FavoritPro, sans-serif;
  padding-top: 5px;

}

.salavat_irnby {
  width: 103px;
  height: 15px;
  margin-top: 10px;


}

.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;

}

.new {
  font-size: 12px;
  color: rgb(41, 126, 255);
  margin-top: 10px;
}

.buy__card {
  font-size: 12px;
}